.modal-window {
  .modal-dialog {
    justify-content: center;

    .modal-content {
      width: 428px;

      border-radius: 3px;

      .modal-body {
        padding: 0 64px;
        position: relative;

        .modal__label {
          font-family: Inter;
          font-size: 12px;
          line-height: 12px;
          color: #2B3844;
        }

        .modal__input {
          border: 1px solid rgba(43, 56, 68, .25);
          box-sizing: border-box;
          border-radius: 3px;
          font-family: Inter;
          font-size: 14px;
          line-height: 14px;
          color: #2B3844;
          margin-bottom: 24px;
          height: 46px;
          width: 100%;
          padding: 0 16px;

          ::-webkit-input-placeholder {
            color: rgba(43, 56, 68, .25);
          }
          ::-moz-placeholder {
            color: rgba(43, 56, 68, .25);
          }
          :-ms-input-placeholder {
            color: rgba(43, 56, 68, .25);
          }
          :-moz-placeholder {
            color: rgba(43, 56, 68, .25);
          }
        }

        .modal__close {
          position: absolute;
          right: -28px;
          top: 0;
          cursor: pointer;
        }
      }

      .modal-header {
        padding: 64px 64px 0;
        border: none;
        margin-bottom: 40px;
        position: relative;

        .modal-title {
          font-family: Inter-Bold;
          font-size: 28px;
          line-height: 28px;
          color: #2B3844;
          text-align: center;
          width: 100%;
        }

        .btn-close {
          position: absolute;
          right: -28px;
          top: 0;
        }
      }

      .modal-footer {
        padding: 0 64px 64px;
        border: none;
        margin-top: 8px;

        .modal__btn {
          background: #5382E7;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          height: 52px;
          width: 100%;
          cursor: pointer;
          margin: 0;

          .modal__btn-text {
            font-family: Inter-Medium;
            font-size: 14px;
            line-height: 14px;
            color: #FFFFFF;
          }

          .modal__btn-icon {
            margin-left: 16px;
          }
        }

        .modal__btn:hover {
          background: #1b4e9d;
        }
      }
    }
  }
}