.modal-backdrop.show {
  opacity: .7;
}
tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }
.wrap {
  hr {
    margin: 0;
    border-color: rgba(60, 78, 96, 0.08);
  }

  .wrap__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .wrap__content {
    margin-top: 50px;

    .table {
      --bs-table-striped-bg: rgba(255, 255, 255, 1);
      --bs-table-striped-color: #2B3844;
      thead {
        background: #2B3844;
        border-radius: 3px;

        tr {

          th {
            padding: 20px 0;
            font-family: Inter;
            font-size: 14px;
            line-height: 14px;
            color: #FFFFFF;
            text-align: center;
          }

          th:first-child {
            border: 1px;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
          }

          th:last-child {
            border: 1px;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
          }
        }



      }

      tbody {
        tr {
          td:first-child {
            border: 1px;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
          }

          td:last-child {
            border: 1px;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
          }

          td {
            text-align: center;
            height: 54px;
            font-family: Inter;
            font-size: 13px;
            line-height: 14px;
            color: rgba(43, 56, 68, .7);
            vertical-align: middle;

            .table__actions {
              display: flex;
              align-items: center;
              justify-content: center;

              .table__actions-sell {
                background: rgba(83, 130, 231, .1);
                border-radius: 3px;
                border: none;
                font-family: Inter;
                font-size: 12px;
                line-height: 12px;
                color: #5382E7;
                padding: 8px 16px;
              }

              .table__actions-sell:hover,
              .table__actions-edit:hover {
                background: rgba(83, 130, 231, 0.25);
              }

              .table__actions-edit {
                background: rgba(83, 130, 231, .1);
                border-radius: 3px;
                margin-left: 8px;
                border: none;
                padding: 7px 16px;

                path {
                  stroke: #5382E7;
                }

              }

              .table__actions-del {
                margin-left: 16px;
                cursor: pointer;
              }

              .table__actions-del:hover path {
                stroke: #7c7d7e;
              }
            }
          }
        }
      }

      tbody:before {
        content: '-';
        display: block;
        line-height: 24px;
        color: transparent;
      }
    }
  }
}

