.modal-backdrop.show {
  opacity: .7;
}

.wrap {
  hr {
    margin: 0;
    border-color: rgba(60, 78, 96, 0.08);
  }

  .wrap__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .wrap__content {
    margin-top: 50px;

    .graphs {
      display: grid;
      grid-template-areas:
        'graph-1 graph-3'
        'graph-2 graph-3';
      grid-template-columns: 1.85fr 3fr;
      grid-template-rows: 3fr 2fr;
      height: 570px;
      grid-column-gap: 24px;
      grid-row-gap: 24px;

      .graph {
        background: #FFFFFF;
        border-radius: 3px;
      }

      .graph-1 {
        grid-area: graph-1;
      }

      .graph-2 {
        grid-area: graph-2;
      }

      .graph-3 {
        grid-area: graph-3;
      }
    }
  }
}

