.chart-pie-total {
  font-family: Inter-SemiBold;
  font-size: 24px;
  line-height: 24px;
  color: #2B3844;
  text-align: center;
  margin-top: 30px;
}

.graph-2 {
  .Component-root-6 {
    display: none;
  }
}