.MuiPaper-elevation1.MuiPaper-root {
  box-shadow: unset;
  margin-top: 37px;
  position: relative;

  .Component-root-1 {
    padding: 0;
  }

  .LegendRoot-root-2 {
    position: absolute;
    right: 0;
  }
}