.Component-root-7,
.Component-root-8,
.Component-root-9 {
  display: none;
}

.graph-3 {
  .MuiPaper-elevation1.MuiPaper-root {
    box-shadow: unset;
    margin-top: 37px;
    position: relative;

    .Component-root-1 {
      padding: 0;
    }
  }
}