.modal-backdrop.show {
  opacity: .7;
}

.wrap {
  hr {
    margin: 0;
    border-color: rgba(60, 78, 96, 0.08);
  }

  .wrap__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .wrap__content {
    margin-top: 50px;

    .personal-form {
      display: flex;
      flex-wrap: wrap;

      .personal-form__item {
        display: flex;
        flex-direction: column;
        width: 32%;
        margin-bottom: 33px;

        .personal-form__item-title {
          font-family: Inter;
          font-size: 12px;
          line-height: 12px;
          color: #354352;
        }

        .personal-form__item-input {
          border: 1px solid rgba(43, 56, 68, .25);
          box-sizing: border-box;
          border-radius: 3px;
          height: 46px;
          padding: 0 15px;
          margin-top: 8px;
          background: #F8F8F8;
          font-family: Inter;
          font-size: 14px;
          line-height: 14px;
          color: #2B3844;
        }

        ::-webkit-input-placeholder {
          color: rgba(43, 56, 68, .25);
        }
        ::-moz-placeholder {
          color: rgba(43, 56, 68, .25);
        }
        :-ms-input-placeholder {
          color: rgba(43, 56, 68, .25);
        }
        :-moz-placeholder {
          color: rgba(43, 56, 68, .25);
        }
      }
    }
  }
}